<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/css/estilosIndex.css">
<title>Evaluacion 3</title>

</head>

<body>
    <div class="container">
        <img src="/static/img/logo.jpg"  >
        <h4 style="margin: 0;">Requerimientos</h4>
        <h1 style="margin: 0;">Evaluacion 3</h1>
        <br>
        <a href="ejercicio1" class="button">Ejercicio 1</a> <br>
        <a href="ejercicio2" class="button">Ejercicio 2</a>
    </div>
</body>